html, body {
	margin: 0;
	padding: 0;
	font-family: 'Libre Baskerville', sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 980px;
	

}

.header {
	margin-top: -40px;
	margin-bottom: 100px;
	
}

.nav-tabs a {
	color: #333333;
	margin-right: 162px;

}


.nav-tabs {
	margin-right: 75px;

}

.header h3 {
	margin-left: 75px;
}


.jumbotron {
	padding-bottom: 207px;
	background:transparent;

}

.jumbotron h1 {
	text-shadow: none;
}

.banner {
	background-color: #333333;
	color: white;
	text-align: center;
	padding-top: 41px;
	padding-bottom: 33px;
}
	

.cards  {
	text-align: center;
	background-color: #ffc200;
	padding-top: 102px;
	

}

.row {
	margin-top: 65px;
	margin-bottom: 75px;
}

.cards .col-md-4 img{
	margin-bottom: 25px;
	text-align: center;
		


}

.footer {
	background-color: #000000;
	color: white;
	padding-top: 78px;
	padding-bottom: 57px;
	

}

address {
		font-size: 12px;
}

.footer img {
	margin-right: 8px;
}

@media (max-width: 992px) {
  .col-md-4 {
    margin: 0 auto 0;
    text-align: center;
    width: 100%;
  }
  .cards img {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .header h1 {
    text-align: center;
  }

  .nav li {
    text-align: center;
    width: 100%;
  }

  .cards img {
    width: 100%;
  }
}

